@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/s/67521/Amazon Ember.woff');
html, body
{
    width: 100%;
    height: 100%;
    padding: 1%;
    font-family: 'Montserrat';
    background: linear-gradient(30deg, #111312 7%, #635e62 40%, #111312 69%) !important;
}
body {
  margin: 0;  
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  display: none;
}
