.card{
    width: 30%; 
    animation-name: move;
    animation-duration: 1s; 
    position: relative;
}
.emailIcon{
    left: 2px;
    top: 10px;
    color: #cccccc;
}
.card-body{    
    background-image: linear-gradient(to bottom, #79747b , #393b47);
}
.card-header{
    background-color: #9e9da3 !important;
    color: #fff !important;
}
.form-control{
    color: #fff !important;
    outline-style: none !important;
}
.bootstrap-select .form-control:focus {
    outline: 0px none #fff !important;
}
::-webkit-input-placeholder {
    color: #cccccc !important;
}

@keyframes move {
    from{        
        right: -200px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}