@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #494848 !important;
    color: #fff !important;
}
.navItem:hover{
    background-color: #2b2a2a !important;
}
.css-10hburv-MuiTypography-root{
    font-family: 'montserrat' !important;
}