.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    margin: 8px 4px 4px 4px;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
    margin: 4px;
}
.css-s2t6nb-MuiFormControl-root{
    padding: 4px !important;
}